* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

article {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-gap: 50px;
    margin-bottom: 50px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-wrapper:hover .caption {
    opacity: 1;
}

.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-mode header {
    background-color: #212529;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode button {
    color: #f8f9fa;
}

.dark-mode article {
    background-color: #444;
}